.Shohislom {
  padding: 35px 0;
  .h1 {
    color: #1d3444;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 112.5% */
    letter-spacing: -1.92px;
  }
  .text1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
    .t1 {
      .ikki {
        color: #0d1317;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 125% */
        letter-spacing: -0.72px;
      }
      .para {
        color: #5b5b5b;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
      }
    }
    .t2 {
      .ikki {
        color: #0d1317;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 125% */
        letter-spacing: -0.72px;
      }
      .para {
        color: #5b5b5b;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
      }
    }
    .text2 {
      flex-wrap: wrap;
      padding-left: 0px;
      padding-right: 15px;
      text-align: center;
      align-items: center;
    }
  }

  section:nth-child(4) {
    .fourth-section {
      display: flex;
      align-items: center;
      padding-top: 32px;
      input {
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        background: rgba(210, 218, 237, 0.17);
        border: none;
        cursor: pointer;
      }
      p {
        padding-left: 24px;
        color: #000;

        /* Paragraph */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        opacity: 0.8;
        transition: 0.3s;
      }
      //   p:hover {
      //     opacity: 1;
      //   }
    }
  }
}

// MEDIA
@media only screen and (max-width: 1203px) {
  .Shohislom {
    section:first-child {
      padding-top: 96px;
      .first-section {
        margin-right: 109px;
        margin-left: 110px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        .left-part {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          p:first-child {
            display: block;
            text-align: center;
            padding-right: 30px;
          }
          p:nth-child(2) {
            text-align: center;
          }
          p:nth-child(3) {
            text-align: center;
          }
          .apply {
            margin-bottom: 30px;
            display: flex !important;
            margin-top: 40px;
            width: 182px;
            height: 64px;
            flex-shrink: 0;
            background: linear-gradient(180deg, #444cfc 0%, #444cfc 100%);
            cursor: pointer;
            svg {
              top: 0;
              left: 0;
            }
            p {
              margin-top: -38px;
              padding-left: 3px;
              display: flex;
              gap: 13px;
              align-items: center;
              justify-content: center;
              color: #fff;

              /* Text link */
              font-family: Poppins;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; /* 150% */
            }
          }
        }
        .right-part {
          // display: flex !important;
          // flex-wrap: wrap;
          // align-items: center;
          // justify-content: center;
          padding-right: 56px;
          background: #ffe0c7;
          max-width: 515px;
          height: 324px;
          flex-shrink: 0;
          svg {
            padding-top: 2px;
            margin-left: 467px;
          }
          p:nth-child(2) {
            padding-top: 28px;
            padding-left: 80px;
            color: var(--Black, #232536);

            /* H4 Heading */
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px; /* 150% */
          }
          p:nth-child(3) {
            padding-top: 24px;
            padding-left: 80px;
            color: #000;

            /* Paragraph */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
          p:nth-child(4) {
            padding-top: 16px;
            padding-left: 80px;
            color: #000;

            /* Paragraph */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
          p:nth-child(5) {
            padding-top: 16px;
            padding-left: 80px;
            color: #000;

            /* Paragraph */
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 738px) {
  .Shohislom {
    section:first-child {
      .first-section {
        margin-right: 0px;
        margin-left: 0px;
        .left-part {
          p:nth-child(2) {
            font-size: 36px;
            text-align: center;
          }
          .apply {
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 515px) {
  .Shohislom {
    section:first-child {
      padding-top: 50px;
      .first-section {
        margin-right: 0px;
        margin-left: 0px;
        .left-part {
          p:first-child {
            padding-right: 0;
          }
          p:nth-child(2) {
            font-size: 32px;
            text-align: center;
          }
          .apply {
            p {
              font-size: 16px;
            }
          }
        }
        .right-part {
          padding-right: 56px;
          background: #ffe0c7;
          max-width: 320px;
          height: 324px;
          flex-shrink: 0;
          svg {
            padding-top: 2px;
            margin-left: 273px;
          }
          p:nth-child(2) {
            padding-left: 0px;
          }
          p:nth-child(3) {
            padding-left: 0px;
          }
          p:nth-child(4) {
            padding-left: 0px;
          }
          p:nth-child(5) {
            padding-left: 0px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  .Shohislom {
    .text2 {
      .p1 {
        background-color: #454dfd;
      }
    }
    section:nth-child(2) {
      padding-top: 96px;
      .second-section {
        max-width: 1280px;
        height: 784px;
        flex-shrink: 0;
        background: #ecf8f9;
        // margin-bottom: 30px;
        height: fit-content;
        .headings {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 90px;
          // padding-left: 326px;
          padding-top: 43px;
          p {
            padding-bottom: 32px;
            color: #000;
            /* H4 Heading */
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px; /* 150% */
            border-bottom: 5px solid #e0f1f2;
            transition: 0.3s;
          }
          p:hover {
            color: #454dfd;
            border-bottom: 5px solid #454dfd;
          }
        }
        .line {
          margin-top: -4px;
          max-width: 1280px;
          height: 4px;
          flex-shrink: 0;
          background: #e0f1f2;
        }
        ul {
          padding-top: 96px;
          padding-left: 30px;
          max-width: 970px;
          margin-bottom: 96px;
          gap: 16px;
          li {
            margin-bottom: 16px;
            color: #000;
          }
        }
      }
    }
  }
}
